{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Here</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'style3.css' %}">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <script src="{% static 'state.js' %}"></script>
</head>
<body>
  <h2 id="usertype" style="text-align: center;margin-top: 30px;"></h2>
  {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
    <h3>Course details</h3>
        {% for b in data %}
        <div class="dabba" id="lgnbox" style="border-radius: 10px !important;">
          <label style="text-align: center;font-size: 17px;display: block;margin-top: 10px;">Course Name: {{ data.educator.first_name }}</label>
          <div class="infoall" style="height: 110px;margin-top: 10px;">
              <img src="{{ b.image.url }}" width="130px" height="100px" style="margin-right: 5px;border-radius: 5px;margin: auto;
              display: block;">  
          </div>
          <div class="cont" style="text-align: center;">
            <h3>Content:</h3>
            <p>{{ b.content }}</p>
          </div>
          <div class="desc" style="text-align: center;">
            <h3>Description:</h3>
            <p>{{ b.description }}</p>
          </div>
          <div class="inff" style="text-align: center;">
            <h3>All Joiners:</h3>
            <p>
            {% for users in b.users.all %}
            {{ users.first_name }}
            {% endfor %}
        </p>
          </div>
          <div class="all" style="margin-top:20px;">
          <a id="{{ b.id }}" style="display: block;
          margin: auto;
          width: 35%; cursor: pointer;border: 1px solid black;border-radius: 4px;margin-bottom: 7px;" href="/">Check all courses</a>
          </div>
        </div>
        {% endfor %}
        
        <a href="/logout/" style="display: block;width: 40%;margin: auto;margin-bottom: 30px ;"> Logout </a>  
</body>

</html>  