{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'style4.css' %}">
  </head>
  <body>
    <h2>Hello this is Online educator here</h2>
    <p style="text-align: center;" id="str">You can Simply acess your dashboard by signup and then login <a href="/studentportal/">Student Signup/Login</a></p>
    <p id="or">OR <a href="educatorlogin/">Educator Sign/Login</a></p>
  </body>
</html>